* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(251, 225, 215);
}

.container {
    width: 100%;
    margin: auto;
}

header {
    background-color: rgba(214, 102, 62, 0.857);
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo {
    color: white;
    font-size: 2em;
    user-select: none;
}

.logo:hover {
    color: black;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: flex-end;
    justify-content: space-between;
}


.nav-list li a {
    text-decoration: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {

    color: white;
    font-weight: bold;
    padding: 10px;
}

.nav-list li a:hover {
    color: black;
}


.abrir-menu,
.cerrar-menu {
    display: none;
}


main {
    width: 100%;
}



main section {
    padding: 20px;
}

.tittle {
    display: flex;
    color: brown;
    justify-content: center;
    text-align: center;
    padding: 40px
}

.tittle:hover {
    color: white;
}


.containerImage {
    display: flex;
    height: 100vh;
    margin: 30px 0;
}

.text {
    color: brown;
    padding: 25px;
}

.boton {
    padding: 15px;
    background-color: brown;
    color: white;
    letter-spacing: 4px;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    transition: 1s;
    border: none;
    border-radius: 16px;
}

.boton:hover {
    cursor: pointer;
    background: white;
    color: brown;
    box-shadow: gray
}

.container-recipes {
    display: flex;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 2em;
    width: 33%;
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
}


h3 {
    color: brown;
    text-align: center;
}


footer {
    display: flexbox;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(214, 102, 62, 0.857);
    height: auto;

}

footer p {
    text-align: center;
    padding: 10px;
    color: white;
}

footer p:hover {
    color: black;
}

.nav-footer {
    text-align: center;
    padding: 0.5em;

}

.nav-footer a {
    padding: 10px;
    color: white;
}


.nav-footer a:hover {
    color: black;
}


@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .nav {
        display: none;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        background-color: brown;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 2rem;
        box-shadow: rgb(160, 157, 157);
    }


    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: white;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .container-recipes {
    display: flex;
    flex-direction: column;
    }

    /* .cards {
        flex-direction: column;
    } */

    .card {
        margin-bottom: 2em;
        width: auto;
        padding: 15px;
        border: 1px solid;
        border-radius: 10px;
    }


    h3 {
        color: brown;
        text-align: center;
        padding: 10px;
    }

    p{
        width: auto;
    }

}
